{% extends "/dashboard/base.html" %}
{% block title %}Topic Trends{% endblock %}
{% block page_content %}
    <div class="right_col" role="main">
        <div>
            <div class="page-title">
                <div class="title_left" style="white-space: nowrap;">
                    <h3>Topic Trends</h3>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8" style="padding-left: 0;">
                                    {% if topic_weights %}
                                        <canvas id="chart" height="300px"></canvas>
                                    {% else %}
                                        <h4>No data found for this topic.</h4>
                                    {% endif %}
                                </div>
                                <div class="col-md-1" style="padding: 0;"></div>
                                <div class="col-md-3" style="padding-left: 0;">
                                    <h4>Topic Keywords</h4>
                                    <p>{{ topic_string }}</p>
                                </div>
                            </div>
                            <div style="margin: 10px 0;"></div>
                            <div class="row">
                                <div class="col-12">
                                    <a href="{{ url_for('main.model_topic', model_name=model_name, topic_id=topic_id - 1) }}" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i>Prev Topic</a>
                                    <a href="{{ url_for('main.model_topic', model_name=model_name, topic_id=topic_id + 1) }}" class="btn btn-default pull-right">Next Topic <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <script>
        {% if topic_weights %}
            'use strict';
            var data = {
                labels: [{% for year in topic_weights.keys() %}'{{ year }}',{% endfor %}],
                datasets: [
                    {
                        label: 'Topic #{{ topic_id }}',
                        backgroundColor: '#3CC499',
                        data: [
                            {% for weight in topic_weights.values() %}'{{ weight }}',{% endfor %}
                        ]
                    }
                ]
            };
            var ctx = document.getElementById('chart').getContext('2d');
            var stackedBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            barPercentage: 0.4
                        }]
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}