{% extends "/landing/landing_base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="/"><img src="/static/images/FMRLogo-black.png" style="
height: 25px;" class=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                    <li id="nav-recommendation" style="display: none;"><a href="#" data-nav-section="recommend"><span>Recommendation</span></a></li>
                    <li><a href="#" data-nav-section="services"><span>Under the Hood</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                    <li><a onclick="lock.show();" ><span>Login</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<section id="fh5co-home" data-section="home" style="background-image: url({{ url_for('static', filename='images/scholar.jpeg') }});" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">Find Your Reviewer.</h1>
                        <h2 class="to-animate">Drag your paper below, and watch the magic happen.</h2>
                        <div id="dropzone">
                            <form action="{{ url_for('api.upload_file') }}" class="dropzone needsclick dz-clickable to-animate" id="landingdropzone">
                                <div id="upload-message" class="dz-message needsclick">
                                    Drop files here or click to upload.<br>
                                    <span class="note needsclick">(For now only PDF files are supported)</span>
                                </div>
                                <div id="please-wait" style="display: none;">
                                     <span class="note needsclick">Please wait while we process your paper.</span>
                                        <div class="sk-spinner sk-spinner-pulse"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>
<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block to-animate" style="background-image: url({{ url_for('static', filename='images/bulb.jpeg') }});">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-bulb"></i>
                    <h2>Cognitive</h2>
                    <p>Our PDF recognition engine is smart enough to identify the keywords and even the topics in your papers.</p>
{#                    <p><a href="#" class="btn btn-primary">Get In Touch</a></p>#}
                </div>
            </div>
            <div class="fh5co-block to-animate" style="background-image: url({{ url_for('static', filename='images/magnifier.jpeg') }});">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-magnifier"></i>
                    <h2>Find and Match</h2>
                    <p>With your paper and our database, we match them together to provide the most precise mathcing
                        possible.</p>
{#                    <p><a href="#" class="btn btn-primary">Click Me</a></p>#}
                </div>
            </div>
            <div class="fh5co-block to-animate"
                 style="background-image: url({{ url_for('static', filename='images/scholar.jpeg') }});">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-people"></i>
                    <h2>Reviewers Aware</h2>
                    <p>We understand the personality and other features of the reviewers. We won't bother Nobel Price
                        winners
                        :)</p>
                    {#                    <p><a href="#" class="btn btn-primary">Why Us?</a></p>#}
                </div>
            </div>
        </div>
        <div id="manual-keyword-input" class="row manual-keyword-input text-center to-animate"
             style="max-width: 80%; margin: auto;">
            <span>Tailor your matching by entering specifications of your paper...</span>
            <form id="paper">
                <div class="form-group">
                    <label for="name" class="sr-only">Title</label>
                    <input id="title" name="title" class="form-control" placeholder="Title" type="text">
                </div>
                <div id="keywords-input"></div>
                <div class="form-group">
                    <label for="message" class="sr-only">Abstract</label>
                    <textarea name="abstract" id="abstract" cols="30" rows="5" class="form-control"
                              placeholder="Abstract"></textarea>
                </div>
                <!--<div id="author_1" id="author-group" class="form-group">
                    <hr>
                    <div class="authorHolder">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h3 id="author_label_1">Author #1</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>First Name *</label>
                                            <input type="text" name="author_firstname_1" placeholder="Enter First Name"
                                                   class="form-control required" aria-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name *</label>
                                            <input type="text" name="author_lastname_1" placeholder="Enter Last Name"
                                                   class="form-control required" aria-required="true">
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email *</label>
                                            <input type="email" name="author_email_1" placeholder="Enter Email"
                                                   class="form-control required email" aria-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label>Organization</label>
                                            <input type="text" name="author_organization_1" autocomplete="off"
                                                   placeholder="Enter Organization"
                                                   class="form-control organization required" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p><a id="add-author" class="btn btn-primary">Add an author</a></p>
                -->
                <a href="javascript:void(0);" onclick="post_paper_meta();" class="btn-search"
                   style="margin-top: 2em;"><i
                        class="icon-search" style=" right:0; padding-left: 3px; color: #52d3aa;"></i></a>
                <span style="margin-top: 2em;"><small>Search</small></span>
            </form>
        </div>

    </div>
</section>
    <div id="result-start" data-section="recommend"></div>
    <section id="fh5co-services" data-section="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">Under the hood</h2>
                <div class="row">
                    <div class="col-md-8 subtext to-animate">
                        <h3>We implement the state-of-the-art technology and algorithm to deliver the most precise matching possible.
                            Here is how we did it.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-docs"></i>
                <h3>Text Mining</h3>
                <p>For our algorithm to better understand the paper you upload, we created a tailored PDF text mining engine to extract the topics and idea from your paper. (Experimental)</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-layers2"></i>
                <h3>Stack</h3>
                <p>We utilise Flask for easy web development and our own backend engine for our own algorithm. The structure is flexible and scalable,
                    making us ready to embrace larger databases and heavier algorithm in the near future. </p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-terminal"></i>
                <h3>Data Source</h3>
                <p>Our database sources are from the official journal websites. We update regularly to ensure up-to-date recommendation in this fast-changing era. </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-social-github"></i>
                <h3>Open Source</h3>
                <p>We believe the spirit of sharing and open. We license the whole project under MIT. <a href="https://github.com/conferency/find-my-reviewers">Feel free to drop us a
                    Pull Request :)</a></p>
            </div>
        </div>
    </div>
</section>
<section id="fh5co-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Get In Touch</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Have any thing interesting to tell us? Drop us a message!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 to-animate">
                <h3>Contact Info</h3>
                <ul class="fh5co-contact-info">
                    <li class="fh5co-contact-address ">
                        <i class="icon-home"></i> 2001 Longxiang Blvd.<br>The Chinese University of Hong Kong, Shenzhen
                    </li>
                    <li><i class="icon-envelope"></i>yourfriends@findmyreviewers.com</li>
                    <li><i class="icon-globe"></i> <a href="/" target="_blank">findmyreviewers.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 to-animate">
                <h3>Contact Form</h3>
                <form method="post" action="https://formspree.io/yourfriends@findmyreviewers.com">
                    <div class="form-group ">
                        <label for="name" class="sr-only">Name</label>
                        <input id="name" name="name" class="form-control" placeholder="Name" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="email" class="sr-only">Email</label>
                        <input id="email" name="email" class="form-control" placeholder="Email" type="email">
                    </div>
                    <div class="form-group ">
                        <label for="phone" class="sr-only">Phone</label>
                        <input id="phone" name="form" class="form-control" placeholder="Phone" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="message" class="sr-only">Message</label>
                        <textarea name="" name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group ">
                        <input class="btn btn-primary btn-lg" value="Send Message" type="submit">
                    </div>
                </form>
            </div>
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Sponsors</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>These are the developers and institutions that make this.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md sponsors">
            <div class="col-md-4 to-animate">
                <a href="https://udel.edu/">
                <img alt="University of Delaware" class="grayscale-logo udel-logo" src="{{ url_for('static', filename='images/udel.svg') }}">
                </a>
            </div>
            <div class="col-md-4 to-animate">
                <a href="https://data.cuhksz.club/">
                <img alt="CUHK(SZ)" class="grayscale-logo cuhksz-logo" src="{{ url_for('static', filename='images/cuhksz.svg') }}">
                </a>
            </div>
            <div class="col-md-4 to-animate">
                <a href="https://conferency.com/">
                <img alt="Conferency" class="grayscale-logo conferency-logo" src="{{ url_for('static', filename='images/conferency-green.png') }}">
                </a>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
        <script>
              var lock = new Auth0Lock('A9GoeDXxltXAM6om4liwL4vBpEORBmB6', 'findmyreviewers.auth0.com', {
                auth: {
                  redirectUrl: '{{ auth0['base_uri'] }}/callback',
                  responseType: 'code',
                  params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                  }
                }
              });
    </script>
    <style>
    .auth0-lock.auth0-lock .auth0-lock-tabs li.auth0-lock-tabs-current a{
        color: #5c666f !important;
    }
    </style>
{% endblock %}